@charset utf-8;

.pink {
background-color:#d87a66;
border-color:#d87a66!important;
}

.carousel-inner {
list-style:none;
padding:0;
}

.embed-responsive {
position:relative;
display:block;
height:0;
overflow:hidden;
padding:0;
}

.icon-html-five:before {
content:"\e901";
}

.navigation-wrapper {
opacity:0;
position:relative;
z-index:50;
}





